<header>
  <div class="container">
    <div class="row">
      <a href="https://daily.co/"
        ><img src="../assets/daily-logo.svg" alt="Daily logo" target="_blank"
      /></a>
      <div class="divider"></div>
      <!-- <img height="36" src="../assets/angular.svg" alt="Angular logo" /> -->
      <a href="https://github.com/daily-demos/daily-angular" target="_blank">
        <span class="header-title">Battery: </span><span class="header-title">75% </span>
      </a>
    </div>

    <div class="row">
      <a class="round" href="https://docs.daily.co/reference/daily-js"
        >AUTO MODE
        <!-- <img src="../assets/newtab.svg" alt="Daily logo"/> -->
      </a>
      <!-- <a href="https://github.com/daily-demos/daily-angular" target="_blank"> -->
        <!-- <img height="36" alt="Github" src="../assets/github.svg"/> -->
        <!-- <ion-icon size="large" name="settings-outline"></ion-icon> -->
      <!-- </a> -->
    </div>
  </div>
</header>

<main class="content">
  <!-- Components are rendered based on the route -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-video-tile></app-video-tile> -->
  <!-- <app-daily-container></app-daily-container> -->

  <!-- Footer -->
  <!-- <footer>
    <p>Brought to you by Daily :)</p>
  </footer> -->
</main>
